body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

canvas {
  border-radius: 40px;
}

#p5-canvas-container {
  display: block;
  padding: 50px 0;
}

.landing-page-title-container {
  width: 100vw;
  height: 100vh;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  /* background-color: antiquewhite; */
  width: 400px;
  margin: auto;
}

.landing-page-title-container {
  background-image: url("assets/beach.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  font-size: 70px;
  font-family: "Lucida Handwriting", "Brush Script M7", cursive;
  color: #ffffff;
}