body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#p5-canvas-container {
  display: block;
  padding: 50px 0;
}

.landing-page-title-container {
  width: 100vw;
  height: 100vh;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  /* background-color: antiquewhite; */

  width: 1000px;
  margin: auto;
}